#root {
  text-align: center;
}

.chat-box {
  /*border: 1px solid grey;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
  /*border-image: linear-gradient(#e3c30e, #d0b030) 1;*/
  max-width: 500px;
  height: 500px;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
  margin: auto;
  z-index: 1;
  background-color: white;
  word-wrap: break-word;
}

@media(max-width: 499px) {
  .chat-box {
    height: 300px;
  }
}

.text-input {
  margin-top: 7px;
  width: 100%;
  max-width: 400px;
  height: 200px;
  max-height: 50px;
  box-sizing: border-box;
  border: 1px solid grey;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
}

.text-input:hover {
  border: 1.5px solid grey;
}

.text-input:focus {
  border: 1.5px solid black;
  outline: none;
}

.send-button {
  border: 1px solid transparent;
  width: 100%;
  max-width: 95.3px;
  height: 200px;
  max-height: 50px;
  background: black;
  color: white;
  margin-left: 3px;
  margin-top: 7px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
}

.send-button:hover {
  transform: scale(1.02);
}

.user-input {
  max-width: 500px;
  margin: auto;
}

.logo {
  max-width: 35px;
  position: relative;
  top: 57px;
  max-height: 35px;
  
}

.ai-message {
  text-align: left;
}

.user-message {
  text-align: left;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}

.name {
  padding-top: 12px;
  margin-left: 38px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  
}

.Nuusero-ai {
  display: inline-block;
  margin: 0;
  padding: 1%;
  border-radius: 2px;
  align-self: flex-end;
  max-width: 50%;
  background-color: rgb(249, 233, 181);
  border: 1px solid transparent;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  text-align: left;
}

@media(max-width: 300px) {
  .Nuusero-ai {
    font-size: 12px;
  }
  .user {
    font-size: 12px;
  }
  .logo {
  width: 25px;
  }
  .name {
    font-size: 13px;
    position: relative;
    top: 7px;
    right: 7px;
  }
}

.user {
  display: inline-block;
  margin: 0;
  padding: 1%;
  border-radius: 3px;
  border: 1px solid transparent;
  align-self: flex-end;
  max-width: 50%;
  background-color: rgb(220, 220, 220);
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.loading {
display: flex; 
font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  
}

.app {
  background-color: white;
  padding: 20px;
  margin: auto;
  max-width: 500px;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.close-app {
  font-size: 20px;
  background-color: white;
  border-radius: 3px;
  color: black;
  opacity: 0.8;
  border: 1px solid transparent;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
  display: inline-block;
  align-self: flex-end;
  position: relative;
  right: 47%;
  
  border-right: 5px double black;
  border-bottom: 5px double black;
  
}

.close-app:hover {
  transform: scale(1.03);
}

@media(max-width: 300px){
  .close-app {
    font-size: 15px;
   border-right: 3px double black;
   border-bottom: 3px double black;
  }
}

.open-app {
  background-color: black;
  color: white;
  border: 1px solid transparent;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.9;
  cursor: pointer;
  position: relative;
  top: 650px;
  left: 250px;
}

